# this main compose file exposes backend on port 3000
# and the frontend is served via NGINX on localhost:5173
# creates a shared n/work between fr-end and b-end 


version: "3.9"

services:

  backend:
    build: ./backend
    container_name: keepmynotes-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: keepmynotes-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
